<.flash_group flash={@flash} />
<div class="flex items-center justify-center h-screen">
  <div class="flex items-center">
    <img src={~p"/images/remembly-logo.png"} alt="Remembly Logo" class="w-24 h-24 mr-4" />
    <div class="text-center">
      <h1 class="text-3xl font-bold">Welcome to Remembly</h1>
      <h2 class="text-md italic">Your personal memory assistant</h2>
    </div>
  </div>
</div>
